<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport"
        content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,target-densitydpi=medium-dpi">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sub.css' %}">
    {% comment %} <link href="{% static 'css/c3.css' %}" rel="stylesheet"> {% endcomment %}
<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/jquery.jqtransform.js' %}"></script>
<script src="{% static 'js/jquery.bxslider.js' %}"></script>
<script src="{% static 'js/prefixfree.min.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/mUi.js' %}"></script>
<script src="{% static 'js/mBase.js' %}"></script>
<script src="{% static 'js/mCslide.js' %}"></script>
{% comment %} Highchart cdn import {% endcomment %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
{% comment %} <script src="{% static 'dashboard.js' %}"></script> {% endcomment %}

{% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css"/>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script> {% endcomment %}

<script src="{% static 'dashboard_1.js' %}"></script>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
<!--[if lt IE 7]>
<script src="js/IE7.js"></script>
<![endif]-->
</head>

<body>
    <div id="wrap" class="wrapage">
        <!-- Mainheader -->
        <header id="mainheader" class="fixed">
         <div>
             <p>태양광 발전현황</p>
         </div>
        </header>
        <!-- //Mainheader -->
        <hr>
        <!-- contents -->        
        <div class="contents page01 clear_fix">
            <div class="box01">
                <ul class="clear_fix">
                    <li>총 설비용량<span class="num" id="total_equipment_amount">569,484.1 <span class="smt">MkW</span></span></li>
                    <li>총 설비갯수<span class="num" id="total_equipment_num">3,548 <span class="smt">개</span></span></li>
                    <li>논<span class="num" id="farm_num">30 <span class="smt">개</span></span></li>
                    <li>밭<span class="num" id="field_num">21 <span class="smt">개</span></span></li>
                    <li>과수<span class="num" id="orchard_num">15 <span class="smt">개</span></span></li>
                </ul>
            </div>
            <div class="box02">
                <ul class="clear_fix">
                    <li>
                        <div class="l01">
                            <p class="tit">현재 출력</p>
                            <p class="num" id="num_power">34,865.8<span>kW</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="l02">
                            <p class="tit">금일 발전량</p>
                            <p class="num" id="today_power">4,144,987.2<span>kWh</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="l03">
                            <p class="tit">금일 발전시간</p>
                            <p class="num" id="today_time">14.1<span>Hour</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="l04">
                            <p class="tit">금월 발전량</p>
                            <p class="num" id="this_month_power">144.7<span>MWh</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="l05">
                            <p class="tit">금년 발전량</p>
                            <p class="num" id="this_year_power">532,951.2<span>MWh</span></p>
                        </div>
                    </li>
                </ul>
                <ul class="clear_fix">
                    <li>
                        <div class="l06">
                            <p class="tit">누적 발전량</p>
                            <p class="num" id="total_power">34,865.8<span>kWh</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="l07">
                            <p class="tit">전일 발전량</p>
                            <p class="num" id="yesterday_power">4,144,987.2<span>kWh</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="l08">
                            <p class="tit">전일 발전시간</p>
                            <p class="num" id="yesterday_power_time">14.1<span>Hour</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="l09">
                            <p class="tit">전월 발전량</p>
                            <p class="num" id="last_month_power">144.7<span>MWh</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="l10">
                            <p class="tit">전년 발전량</p>
                            <p class="num" id="last_year_power">532,951.2<span>MWh</span></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clear_fix">
                <div class="box03">
                    <ul class="clear_fix">
                        <li>
                            <div>
                                <p class="tit">출력량</p>
                                <p class="graph" id="power_graph"></p>
                            </div>
                        </li>
                        <li class="tb">
                            <div>
                                <p class="tit">발전소 효율</p>
                                <p class="graph" id="factor_graph"></p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="tit">발전시간</p>
                                <p class="graph" id="time_graph"></p>
                            </div>
                        </li>
                        <li class="tb">
                            <div>
                                <p class="tit">설비이용률</p>
                                <p class="graph" id="ratio_graph"></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="boxwrp">
                    <div class="box04">
                        <p class="tit">전남 운영 현황 <span id="operate_situation">(총 개수 85,125 / 정상 75,846 / 운영준비중 5,484 / 경고 74 / 고장-정지 4,561)</span></p>
                        <ul class="clear_fix">
                            <li class="lst01">정상</li>
                            <li class="lst02">경고</li>
                            <li class="lst03">고장 (정지)</li>
                            <li class="lst04">운영 준비중</li>
                        </ul>
                        <div class="graph" id="situation_graph">
                            
                        </div>
                    </div>
                    <div class="box05">
                        <p class="tit">모니터 이벤트</p>
                        <div class="table">
                            <table>
                                <caption>모니터 이벤트 테이블</caption>
                                <colgroup>
                                    <col width="20%">
                                    <col width="15%">
                                    <col width="65%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Massage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2022-03-23 11:59:20</td>
                                        <td>모니터 01</td>
                                        <td>온도가 정상으로 돌아왔습니다.</td>
                                    </tr>
                                    <tr>
                                        <td>2022-03-23 11:59:20</td>
                                        <td>모니터 01</td>
                                        <td class="error">온도가 너무 낮습니다.</td>
                                    </tr>
                                    <tr>
                                        <td>2022-03-23 11:59:20</td>
                                        <td>모니터 01</td>
                                        <td>온도가 정상으로 돌아왔습니다.</td>
                                    </tr>
                                    <tr>
                                        <td>2022-03-23 11:59:20</td>
                                        <td>모니터 01</td>
                                        <td>온도가 정상으로 돌아왔습니다.</td>
                                    </tr>
                                    <tr>
                                        <td>2022-03-23 11:59:20</td>
                                        <td>모니터 01</td>
                                        <td>온도가 정상으로 돌아왔습니다.</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- //contents -->
    </div>
</body>

</html>