<!DOCTYPE html>
{% load static %}
<html lang="ko">

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
{% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css"/>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script> {% endcomment %}

<script src="{% static 'dashboard_1.js' %}"></script>


{% comment %} <figure class="highcharts-figure"> {% endcomment %}
    <div style="background-color: black; height:100%; width: 100%" id="power_graph">
    </div>
{% comment %} </figure> {% endcomment %}